<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body>
		<!--%- include('partials/nav') %-->

		<div id="content" class="container landing">
			<div class="col-sm-12 text-center title">
				<h2>TEXAS A&M UNIVERSITY &emsp; ALL-FEMALA A CAPELLA</h2>
			</div>

			
			<div>
				<img src="https://static.wixstatic.com/media/a42061_0ce554cbee8c4cfeb290c8b1f52cb68f~mv2_d_5815_3877_s_4_2.jpg/v1/fill/w_883,h_589,fp_0.50_0.50,q_90/a42061_0ce554cbee8c4cfeb290c8b1f52cb68f~mv2_d_5815_3877_s_4_2.webp%22src=%22https://static.wixstatic.com/media/a42061_0ce554cbee8c4cfeb290c8b1f52cb68f~mv2_d_5815_3877_s_4_2.jpg/v1/fill/w_883,h_589,fp_0.50_0.50,q_90/a42061_0ce554cbee8c4cfeb290c8b1f52cb68f~mv2_d_5815_3877_s_4_2.webp"
				alt="femmatas-group-photo"
				class="group-image"/>
			</div>

			<div class="col-sm-12">
				<!--p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis sem et justo convallis
					fringilla. Phasellus tincidunt, ante a consequat ultricies, purus magna tempor nisl, eu luctus
					sapien turpis non orci. Ut ipsum sem, iaculis sit amet auctor nec, pellentesque a tellus. In hac
					habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur
					semper blandit ligula, id aliquet ex gravida in. Ut et orci ac nibh lacinia facilisis. Morbi
					tincidunt at nisl id iaculis. Sed scelerisque blandit scelerisque. Nam id est ac massa dignissim
					pulvinar sed vitae arcu. Vivamus congue velit vel pretium pretium.
					Quisque molestie mi id urna lacinia, vestibulum pellentesque nisi tincidunt. Aliquam mattis et ex
					eget suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
					curae; Aliquam dapibus quam metus, ac pretium nunc elementum et. Donec gravida scelerisque
					ultricies. Vivamus aliquet facilisis arcu, et fermentum eros. Aenean mollis, nulla nec sollicitudin
					tempor, neque augue tincidunt sapien, a tempor lectus massa quis mauris. Aliquam sed dolor maximus
					leo ultricies pharetra.
				</p-->
			</div>
		</div>

		<script src="/scripts/index.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
