<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body class="landing">
		<!--START Top Section-->
		<div id="top-section" class="vh-container">
			<%- include('partials/nav') %>
			<div id="content" class="container-fluid landing">
				<div class="col-sm-12 text-center title">
					<!--Name banner-->
					<h2>TEXAS A&M UNIVERSITY &emsp; ALL-FEMALE A CAPELLA</h2>
				</div>

				<div>
					<!--Group photo at the top of the page-->
					<img src="https://static.wixstatic.com/media/a42061_0ce554cbee8c4cfeb290c8b1f52cb68f~mv2_d_5815_3877_s_4_2.jpg/v1/fill/w_883,h_589,fp_0.50_0.50,q_90/a42061_0ce554cbee8c4cfeb290c8b1f52cb68f~mv2_d_5815_3877_s_4_2.webp%22src=%22https://static.wixstatic.com/media/a42061_0ce554cbee8c4cfeb290c8b1f52cb68f~mv2_d_5815_3877_s_4_2.jpg/v1/fill/w_883,h_589,fp_0.50_0.50,q_90/a42061_0ce554cbee8c4cfeb290c8b1f52cb68f~mv2_d_5815_3877_s_4_2.webp"
					alt="femmatas-group-photo"
					class="group-image"/>
				</div>
			</div>
		</div>
		<!--END Top Section-->


		<!--START Carousel Section-->
		<div id="landing-carousel" class="vh-container">
			<div id="content" class="container-fluid landing">
				<div class="col-sm-12 text-center title">
					<!--Section banner-->
					<h2>Forever Friends & Memories</h2>
				</div>

				<!--Carousel-->
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<!--First item-->
						<div class="carousel-item active">
							<div class="img-and-quote row justify-content-around">
								<div class="img-container col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<img class="" src="https://static.wixstatic.com/media/a42061_e270eb5963414ca898ec5797812b29d7~mv2.jpg/v1/crop/x_0,y_0,w_813,h_813,q_85/22550372_1489308847817704_56401430915156.webp" alt="First slide">
								</div>
								<div class="quote-container col-xl-5 col-lg-5 col-md-12 col-sm-12">
									<p>“I love The Femmatas because these girls have been my home away from home.”</p>
									<h3>Robin Tarver</h3>
									<h3>(Former President)</h3>
								</div>
							</div>
						</div>

						<!--Second item-->
						<div class="carousel-item">
							<div class="img-and-quote row justify-content-around">
								<div class="img-container col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<img class="" src="https://static.wixstatic.com/media/a42061_c897b2865da14b03bd2864b813e0a0d5~mv2.jpg/v1/crop/x_0,y_0,w_960,h_818,q_85/22548743_1489308761151046_34466117421277.webp" alt="First slide">
								</div>
								<div class="quote-container col-xl-5 col-lg-5 col-md-12 col-sm-12">
									<p>“I love being a part of The Femmatas because it's an automatic friend group who will grow to be your best friends.”</p>
									<h3>Nicole Deere</h3>
									<h3>(Social Chair)</h3>
								</div>
							</div>
						</div>

						<!--Third item-->
						<div class="carousel-item">
							<div class="img-and-quote row justify-content-around">
								<div class="img-container col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<img class="" src="https://static.wixstatic.com/media/a42061_0ece54f227774f6d9db87b7f72c18487~mv2.jpg/v1/crop/x_0,y_0,w_960,h_818,q_85/22550179_1489309121151010_49276009198773.webp" alt="First slide">
								</div>
								<div class="quote-container col-xl-5 col-lg-5 col-md-12 col-sm-12">
									<p>“What I love about Femmatas is that I get to do what I love with people I love. I get to go to rehearsal, sing my little heart out, and not have to think about the million assignments I have due.”</p>
									<h3>Gabriela Madrigal</h3>
									<h3>(Music Director)</h3>
								</div>
							</div>
						</div>
					</div>

					<a class="carousel-control-prev carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		<!--END Carousel Section-->

		<script src="/scripts/index.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
